
.container {
    text-align: center;
    width: min(85%, 54rem);
    margin: auto;
    padding-top: 50px;
}

.input_container{
    box-shadow: 0 0 2rem 0.4rem hsl(0, 0%, 0%, 0.1);
    display: flex;
    margin: 4rem 0 2.5rem 0;
    border-radius: 0.5rem;
    align-items: center;
    padding: 1.9rem 2rem;
    text-align: left;
}

.check_btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

}

.input_box{
    width:  36%;
    margin-left: 2rem;
    padding: 0.7rem 0;
    border: 0;
    display: flex;
    flex-direction: column;
}

.item_list{
    box-shadow: 0 0 2rem 0.4rem hsl(0, 0%, 0%, 0.1);
}

.filter_component{
    display: flex;
    border-radius: 0.5rem 0.5rem 0 0;
    justify-content: center;
    align-items: center;
    padding: 1.9rem 2rem;
}

ul{
    list-style: none;
}

.item_container{
    border-top: solid hsl(252, 21%, 94%) 0.2rem;
    display: flex;
    border-radius: 0 0 0.5rem 0.5rem;
    align-items: center;
    padding: 1.9rem 2rem;
    text-align: left;
}

.box_edit{
    width: 36%;
    margin-left: 2rem;
    padding: 0.7rem 0;
}

.edit_icon{
    margin-left: auto;
}

.sentence_done{
    text-decoration: line-through;
    color: hsl(252, 6%, 83%);
}

.error_message{
    color: rgb(211, 47, 47);
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .container {
        font-size: 0.9rem;
    }
    .input_container{
        margin: 2rem 0 1rem 0;
        padding: 0.5rem 1.5rem;
    }
    .input_box{
        width:  34%;
    }
    .filter_component{
        padding: 0.5rem 1.5rem;
    }
    .item_container{
        padding: 0.5rem 1.5rem;
    }
    .box_edit{
        width: 18%;
    }

}