.container {
    text-align: center;
}

.input{
    margin: 20px;
}

.input input{
    width: 35%; /*親要素いっぱい広げる*/
    padding: 8px 12px; /*ボックスを大きくする*/
    font-size: 14px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    margin: 0 20px;
}

.task_component{
    text-align: left;
    margin: 0 32%;
}